<div class="container">
    <div class="footer-content">
        <div class="footer-info">
            <h4>WHINISH</h4>
            <p>서울특별시 강남구 ... (상세 주소 예정)</p>
            <p>대표번호: 1234-5678</p>
        </div>
        <div class="footer-links">
            <h4>MENU</h4>
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용약관</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        &copy; 2026 WHINISH. All Rights Reserved.
    </div>
</div>
